In [1]:
import csv
import pandas as pd
from pandas import read_excel
import openpyxl

In [2]:
# data = read_excel("time_series_covid19_confirmed_US.xlsx")
data = pd.read_csv("time_series_covid19_confirmed_US.csv")

In [3]:
data_cols = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2',
             'Province_State','Country_Region', 'Lat', 'Long_', 'Combined_Key']

date_cols = data[data.columns[~data.columns.isin(data_cols)]].columns

In [4]:
data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/26/2020,11/27/2020,11/28/2020,11/29/2020,11/30/2020,12/1/2020,12/2/2020,12/3/2020,12/4/2020,12/5/2020
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,2704,2716,2735,2751,2780,2818,2873,2893,2945,2979
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,8576,8603,8733,8820,8890,9051,9163,9341,9501,9626
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1170,1171,1173,1175,1178,1189,1206,1214,1217,1219
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,1170,1173,1179,1188,1196,1204,1239,1252,1270,1283
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,2879,2888,2922,2946,2997,3061,3100,3158,3231,3281

In [5]:
indexed_data = data.set_index(data_cols)

In [6]:
stacked_data = indexed_data.stack()

In [12]:
stacked_df = pd.DataFrame(stacked_data)

In [23]:
stacked_df

                                                                                                                               0
UID      iso2 iso3 code3 FIPS    Admin2  Province_State Country_Region Lat       Long_       Combined_Key
84001001 US   USA  840   1001.0  Autauga Alabama        US             32.539527 -86.644082  Autauga, Alabama, US 4/1/2020    10
                                                                                                                  4/2/2020    12
                                                                                                                  4/3/2020    12
                                                                                                                  4/4/2020    12
                                                                                                                  4/5/2020    12
...                                                                                                                          ...
84056045 US   USA  840   56045.0 Weston  Wyoming        US             43.839612 -104.567488 Weston, Wyoming, US  12/1/2020  409
                                                                                                                  12/2/2020  415
                                                                                                                  12/3/2020  419
                                                                                                                  12/4/2020  419
                                                                                                                  12/5/2020  419

[831660 rows x 1 columns]

In [ ]:
stacked_df.rename(columns = {'0':'new_name'})

In [7]:
stacked_df.to_csv("time_series.csv")

In [24]:
stacked_df.to_excel("time_series.xlsx")

KeyboardInterrupt: