In [1]:
import os
import pandas as pd

In [2]:
os.path.abspath('Merge\\')

'C:\\Users\\David Ly\\Documents\\Programming\\COVID19\\Merge'

In [3]:
merge_dir = os.path.abspath('Merge\\')

In [4]:
merge_files = os.listdir(merge_dir)

In [5]:
os.getcwd()

'C:\\Users\\David Ly\\Documents\\Programming\\COVID19'

In [6]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '01-cleaning.ipynb',
 '2 - Get country coordinates.xlsx',
 '2019-nCoV Global Cases (COVID-19 Wuhan).twbx',
 '2019_nCoV_data.xlsx',
 '3 - Run Alteryx.xlsx',
 '4 - Alteryx Coordinates.xlsx',
 'Alteryx Strain Coordinates.xlsx',
 'AnatomyPoints.xlsx',
 'Archive',
 'B963AA10',
 'cleaned_data.csv',
 'Coordinates.xlsx',
 'CountryComparison.xlsx',
 'genome_metadata.xlsx',
 'Images',
 'Merge',
 'README.md',
 'Run Alteryx Strain Data.xlsx',
 'VirusComparison.xlsx',
 '~2019-nCoV Global Cases (COVID-19 Wuhan)__22300.twbr']

In [7]:
os.chdir('Merge')

In [8]:
df = pd.DataFrame()
for file in merge_files:
    if file.endswith('.csv'):
        df = df.append(pd.read_csv(file), ignore_index=True)
df.head()

C:\Users\David Ly\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Active,Admin2,Case-Fatality_Ratio,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Incidence_Rate,Last_Update,Lat,Long_,Province_State,Recovered
0,0.0,Abbeville,NaN,"Abbeville, South Carolina, US",9,US,0,45001.0,NaN,2020-04-11 22:45:33,34.223334,-82.461707,South Carolina,0
1,0.0,Acadia,NaN,"Acadia, Louisiana, US",98,US,4,22001.0,NaN,2020-04-11 22:45:33,30.295065,-92.414197,Louisiana,0
2,0.0,Accomack,NaN,"Accomack, Virginia, US",15,US,0,51001.0,NaN,2020-04-11 22:45:33,37.767072,-75.632346,Virginia,0
3,0.0,Ada,NaN,"Ada, Idaho, US",513,US,6,16001.0,NaN,2020-04-11 22:45:33,43.452658,-116.241552,Idaho,0
4,0.0,Adair,NaN,"Adair, Iowa, US",1,US,0,19001.0,NaN,2020-04-11 22:45:33,41.330756,-94.471059,Iowa,0

In [9]:
len(df)

333550

In [10]:
df.shape

(333550, 14)

In [11]:
new_df = df

In [12]:
new_df['replace_ps'] = new_df['Admin2'].fillna('1')

In [13]:
new_df.tail()

,Active,Admin2,Case-Fatality_Ratio,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Incidence_Rate,Last_Update,Lat,Long_,Province_State,Recovered,replace_ps
333545,441.0,NaN,2.216359,Zambia,1895,Zambia,42,NaN,10.307901,2020-07-16 04:44:59,-13.133897,27.849332,NaN,1412,1
333546,674.0,NaN,1.836547,Zimbabwe,1089,Zimbabwe,20,NaN,7.326955,2020-07-16 04:44:59,-19.015438,29.154857,NaN,395,1
333547,0.0,NaN,0.000000,"Grand Princess, Canada",13,Canada,0,NaN,NaN,2020-07-13 12:34:33,NaN,NaN,Grand Princess,13,1
333548,1.0,Lewis,0.000000,"Lewis, Idaho, US",1,US,0,16061.0,26.055237,2020-07-10 02:34:22,46.233153,-116.434146,Idaho,0,Lewis
333549,0.0,Wheeler,NaN,"Wheeler, Oregon, US",0,US,0,41069.0,0.000000,2020-07-06 19:33:59,44.726982,-120.028143,Oregon,0,Wheeler

In [14]:
new_df['cleaned_province_state'] = new_df['Admin2'] + ', ' + new_df['Province_State']

In [15]:
new_df['cleaned_province_state'].head()

0    Abbeville, South Carolina
1            Acadia, Louisiana
2           Accomack, Virginia
3                   Ada, Idaho
4                  Adair, Iowa
Name: cleaned_province_state, dtype: object

In [16]:
new_df['cleaned_province_state'].tail()

333545                NaN
333546                NaN
333547                NaN
333548       Lewis, Idaho
333549    Wheeler, Oregon
Name: cleaned_province_state, dtype: object

In [17]:
new_df['cleaned_province_state'] = new_df['cleaned_province_state'].fillna(new_df['Province_State'],axis=0)

In [18]:
new_df['cleaned_province_state'] = new_df['cleaned_province_state'].fillna(new_df['Country_Region'],axis=0)

In [19]:
new_df.tail()

,Active,Admin2,Case-Fatality_Ratio,Combined_Key,Confirmed,Country_Region,Deaths,FIPS,Incidence_Rate,Last_Update,Lat,Long_,Province_State,Recovered,replace_ps,cleaned_province_state
333545,441.0,NaN,2.216359,Zambia,1895,Zambia,42,NaN,10.307901,2020-07-16 04:44:59,-13.133897,27.849332,NaN,1412,1,Zambia
333546,674.0,NaN,1.836547,Zimbabwe,1089,Zimbabwe,20,NaN,7.326955,2020-07-16 04:44:59,-19.015438,29.154857,NaN,395,1,Zimbabwe
333547,0.0,NaN,0.000000,"Grand Princess, Canada",13,Canada,0,NaN,NaN,2020-07-13 12:34:33,NaN,NaN,Grand Princess,13,1,Grand Princess
333548,1.0,Lewis,0.000000,"Lewis, Idaho, US",1,US,0,16061.0,26.055237,2020-07-10 02:34:22,46.233153,-116.434146,Idaho,0,Lewis,"Lewis, Idaho"
333549,0.0,Wheeler,NaN,"Wheeler, Oregon, US",0,US,0,41069.0,0.000000,2020-07-06 19:33:59,44.726982,-120.028143,Oregon,0,Wheeler,"Wheeler, Oregon"

In [20]:
col_list = ['cleaned_province_state', 'Country_Region', 'Last_Update',
            'Confirmed', 'Deaths', 'Recovered', 'cleaned_province_state', 'Lat', 'Long_']

In [21]:
new_df[col_list].head()

,cleaned_province_state,Country_Region,Last_Update,Confirmed,Deaths,Recovered,cleaned_province_state,Lat,Long_
0,"Abbeville, South Carolina",US,2020-04-11 22:45:33,9,0,0,"Abbeville, South Carolina",34.223334,-82.461707
1,"Acadia, Louisiana",US,2020-04-11 22:45:33,98,4,0,"Acadia, Louisiana",30.295065,-92.414197
2,"Accomack, Virginia",US,2020-04-11 22:45:33,15,0,0,"Accomack, Virginia",37.767072,-75.632346
3,"Ada, Idaho",US,2020-04-11 22:45:33,513,6,0,"Ada, Idaho",43.452658,-116.241552
4,"Adair, Iowa",US,2020-04-11 22:45:33,1,0,0,"Adair, Iowa",41.330756,-94.471059

In [22]:
cleaned_df = new_df[col_list]

In [23]:
cleaned_df = cleaned_df.rename(columns={'cleaned_province_state': 'Province_State',
                           'Country_Region': 'Country',
                           'Last_Update': 'Last_Update',
                           'Confirmed': 'Confirmed',
                           'Deaths': 'Deaths',
                           'Recovered': 'Recovered',
                           'cleaned_province_state': 'Province_State',
                           'Lat': 'Lat',
                           'Long_': 'Lon'
                          })

In [24]:
cleaned_df.head()

,Province_State,Country,Last_Update,Confirmed,Deaths,Recovered,Province_State,Lat,Lon
0,"Abbeville, South Carolina",US,2020-04-11 22:45:33,9,0,0,"Abbeville, South Carolina",34.223334,-82.461707
1,"Acadia, Louisiana",US,2020-04-11 22:45:33,98,4,0,"Acadia, Louisiana",30.295065,-92.414197
2,"Accomack, Virginia",US,2020-04-11 22:45:33,15,0,0,"Accomack, Virginia",37.767072,-75.632346
3,"Ada, Idaho",US,2020-04-11 22:45:33,513,6,0,"Ada, Idaho",43.452658,-116.241552
4,"Adair, Iowa",US,2020-04-11 22:45:33,1,0,0,"Adair, Iowa",41.330756,-94.471059

In [25]:
cleaned_df.dtypes

Province_State     object
Country            object
Last_Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
Province_State     object
Lat               float64
Lon               float64
dtype: object

In [26]:
cleaned_df['Last_Update'] = pd.to_datetime(cleaned_df['Last_Update']).dt.date

In [27]:
cleaned_df.tail()

,Province_State,Country,Last_Update,Confirmed,Deaths,Recovered,Province_State,Lat,Lon
333545,Zambia,Zambia,2020-07-16,1895,42,1412,Zambia,-13.133897,27.849332
333546,Zimbabwe,Zimbabwe,2020-07-16,1089,20,395,Zimbabwe,-19.015438,29.154857
333547,Grand Princess,Canada,2020-07-13,13,0,13,Grand Princess,NaN,NaN
333548,"Lewis, Idaho",US,2020-07-10,1,0,0,"Lewis, Idaho",46.233153,-116.434146
333549,"Wheeler, Oregon",US,2020-07-06,0,0,0,"Wheeler, Oregon",44.726982,-120.028143

In [28]:
main_folder_path = os.chdir('..')

In [29]:
main_folder_path

In [30]:
os.getcwd()

'C:\\Users\\David Ly\\Documents\\Programming\\COVID19'

In [31]:
os.path.abspath('')

'C:\\Users\\David Ly\\Documents\\Programming\\COVID19'

In [32]:
# os.chdir('..')

In [33]:
cleaned_df.to_csv('cleaned_data.csv', index=False)

In [34]:
os.listdir()

['.git',
 '.Rproj.user',
 'cleaned_data.csv',
 'ComputerVision',
 'COVID-19',
 'COVID19',
 'DataScience',
 'DeepLearning',
 'InterviewPrep',
 'LargeData',
 'LDW',
 'MachineLearning',
 'Portfolio',
 'PyScripts',
 'Python',
 'PythonDSMLBootcamp',
 'R']